{% extends "authBase.html" %}

{% block forms %}
<label class="text-muted appear-center mx-auto" style="margin-bottom: 40px; color: rgba(255, 255, 255, 0.7)!important;">
    Используйте email или телефон
</label>
<form action="">
    <input type="text" placeholder="+79999999999" id="number" name="number"/>
    <input type="password" placeholder="Пароль" id="password" name="password"/>
    <button type="button" class="btn btn-primary"/>Войти</button>
</form>
<div class="d-flex justify-content-center bottom-buttons">
    <a href="">Забыли пароль?</a>
    <a class="mx-2">|</a>
    <a href="">Регистрация</a>
</div>
{% endblock %}