{% extends "authBase.html" %}

{% block forms %}
<label class="text-muted mx-auto" style="margin-bottom: 40px; color: rgba(255, 255, 255, 0.7)!important;">
    Используйте email или телефон
</label>
<form action="">
    <div class="login-field">
        <input type="text" placeholder="+79999999999" id="number" name="number"/>
        <i class="fa-regular fa-user fa-icon"></i>
    </div>
    <div class="password-field">
        <input type="password" placeholder="Пароль" id="password" name="password"/>
        <i class="fa-solid fa-lock fa-icon"></i>
    </div>
    <button type="button" class="btn btn-primary"/>Войти</button>
</form>
<div class="d-flex justify-content-center bottom-buttons">
    <a href="">Забыли пароль?</a>
    <a href="">Регистрация</a>
</div>
{% endblock %}