<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" style="height: 100px;">
        <div class="container-fluid justify-content-space-between" style="margin: 0 50px">
            <a class="navbar-brand" href="#">AiHouse</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav position-absolute top-50 start-50 translate-middle gap-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Функционал
                        </a>
                        <ul class="dropdown-menu fade-down" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Создание видео</a></li>
                            <li><a class="dropdown-item" href="#">Дизайн и визуализация</a></li>
                            <li><a class="dropdown-item" href="#">Галерея брендов</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Тарифы</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Решения
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Мебельным брендам</a></li>
                            <li>
                                <hr class="dropdown-divider w-75 mx-auto">
                            </li>
                            <li><a class="dropdown-item" href="#">Дизайнерам интерьера</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Поддержка
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Частые вопросы</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="nav me-5">
                    <li class="nav-item">
                        <a class="nav-link link-dark fw-light" href="#">Вход</a>
                    </li>
                    <button class="btn btn-primary px-4" type="button">Регистрация</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<section>


    <div class="text-white mx-4 position-relative" style="background-color: #333333;">
        <img src="../static/img/image.jpg" class="position-relative image-fluid w-100" alt="..."
             style="filter: brightness(40%); height: 710px;  object-fit: cover;">
        <div class="container-lg d-flex flex-column justify-content-center text-center card-img-overlay">
            <p class="fw-bold" style="font-size: 65px; line-height: 1.1">Создавайте превосходные визуализации с
                легкостью</p>
            <p class="fw-light">Широкие возможности настройки | Простота в работе | Потрясающие 4K
                рендеры</p>
        </div>
        <div class="row text-center align-items-center justify-content-center gap-5" style="height:170px">
            <div class="col-1 fa-cont fs-5 d-flex justify-content-between flex-column" style="width: 180px">
                <i class="fa fa-video fs-1" aria-hidden="true"></i>
                <br>
                Создание видео
            </div>
            <div class="col-1 fa-cont fs-5 d-flex justify-content-between flex-column" style="width: 180px">
                <i class="fa fa-crop-simple fs-1" aria-hidden="true"></i>
                <br>
                Дизайн и визуализация
            </div>
            <div class="col-1 fa-cont fs-5 d-flex justify-content-between flex-column" style="width: 180px">
                <i class="fa fa-tags fs-1" aria-hidden="true"></i>
                <br>
                Галерея брендов
            </div>
        </div>
    </div>

    <div class="container-lg" style="margin-top: 140px; ">
        <div class="row">
            <div class="col-lg">
                <div class="row m-0">
                    <div class="card">
                        <div class="card-body" style="padding: 40px">
                            <h5 class="card-title">Дизайн и визуализация</h5>
                            <p class="card-text">С легкостью планируйте пространство до мельчайших деталей.
                                Впечатляйте клиентов быстрой визуализацией высочайшего качества в формате 4K.</p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="card">
                        <div class="card-body" style="padding: 40px">
                            <h5 class="card-title">Галерея брендов</h5>
                            <p class="card-text">
                                Повысьте узнаваемость своего бренда, представив свою продукцию в нашей библиотеке.</p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-top:70px">
                <img src="../static/img/house-plan-render.original.original.format-webp.webp" alt="">
            </div>
            <div class="col">
                <div class="row m-0">
                    <div class="card">
                        <div class="card-body" style="padding: 40px">
                            <h5 class="card-title">Производство видеоматериалов</h5>
                            <p class="card-text">
                                Создавайте умопомрачительные анимационные видеоролики с помощью передовой технологии
                                отслеживания пути лучей света в реальном времени.</p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
               <div class="row m-0">
                    <div class="card">
                        <div class="card-body" style="padding: 40px">
                            <h5 class="card-title">Мебельным брендам</h5>
                            <p class="card-text">Сделайте эффективным присутствие своего бренда в
                                Интернете</p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
<script type="text/javascript" src="../static/js/index.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/d22fe735f3.js" crossorigin="anonymous"></script>
</body>
</html>