<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
<body>
    <header style="background-color: white">
        <nav class="navbar navbar-expand-lg navbar-light" style="height: 100px; margin: 0 50px">
            <div class="container-fluid justify-content-space-between">
              <a class="navbar-brand" href="#">AiHouse</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav position-absolute top-50 start-50 translate-middle gap-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Функционал
                        </a>
                        <ul class="dropdown-menu fade-down" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Создание видео</a></li>
                          <li><a class="dropdown-item" href="#">Дизайн и визуализация</a></li>
                          <li><a class="dropdown-item" href="#">Галерея брендов</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Тарифы</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Решения
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Мебельным брендам</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Дизайнерам интерьера</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Поддержка
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Частые вопросы</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="nav">
                  <li class="nav-item">
                    <a class="nav-link link-dark fw-light" href="#">Вход</a>
                  </li>
                  <button class="btn btn-primary px-4" type="button">Регистрация</button>
                </form>
              </div>
            </div>
          </nav>
    </header>
<script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>