<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" style="height: 100px;">
            <div class="container-fluid justify-content-space-between" style="margin: 0 50px">
              <a class="navbar-brand" href="#">AiHouse</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav position-absolute top-50 start-50 translate-middle gap-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Функционал
                        </a>
                        <ul class="dropdown-menu fade-down" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Создание видео</a></li>
                          <li><a class="dropdown-item" href="#">Дизайн и визуализация</a></li>
                          <li><a class="dropdown-item" href="#">Галерея брендов</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Тарифы</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Решения
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Мебельным брендам</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Дизайнерам интерьера</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Поддержка
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Частые вопросы</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="nav me-5">
                  <li class="nav-item">
                    <a class="nav-link link-dark fw-light" href="#">Вход</a>
                  </li>
                  <button class="btn btn-primary px-4" type="button">Регистрация</button>
                </form>
              </div>
            </div>
          </nav>
    </header>
    <section>
      <div class="card bg-dark text-white rounded-0 mx-4">
        <img src="../static/img/image.jpg" class="card-img rounded-0" alt="..." style="filter: brightness(40%); height: 710px;  object-fit: cover;">
        <div class="card-img-overlay text-center top-50 start-50 translate-middle w-75 lh-1">
          <p class="card-title" style="font-size: 65px; font-weight: 600">Создавайте превосходные визуализации с легкостью</p>
          <p class="card-text fw-light">Широкие возможности настройки | Простота в работе | Потрясающие 4K рендеры</p>
        </div>
        <div class="row text-center align-items-center justify-content-center gap-5" style="height:170px">
          <div class="col-1 fa-cont fs-5 d-flex justify-content-between flex-column">
            <i class="fa fa-video fs-1" aria-hidden="true"></i>
            <br>
            Создание видео
          </div>
          <div class="col-1 fa-cont fs-5 d-flex justify-content-between flex-column">
            <i class="fa fa-crop-simple fs-1" aria-hidden="true"></i>
            <br>
            Дизайн и визуализация
          </div>
          <div class="col-1 fa-cont fs-5 d-flex justify-content-between flex-column">
            <i class="fa fa-tags fs-1" aria-hidden="true"></i>
            <br>
            Галерея брендов
          </div>
        </div>
      </div>
    </sections>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/d22fe735f3.js" crossorigin="anonymous"></script>
</body>
</html>