{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            {% if self.seo_title %}
                {{ self.seo_title }}
            {% else %}
                {{ self.title }}
            {% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="{{ self.search_description }}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top ">
        <div class="container-fluid justify-content-space-between">
            <a href="#" class="logotype">
                <img src="{% static '/img/AiHouse-light.png' %}">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar" aria-controls="navbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav position-absolute top-50 start-50 translate-middle gap-3">
                    <ul class="nav-items-wrapper">
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Функционал
                            </a>
                            <ul class="dropdown-menu fade-down" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Создание видео</a></li>
                                <li><a class="dropdown-item" href="#">Дизайн и визуализация</a></li>
                                <li><a class="dropdown-item" href="#">Галерея брендов</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tariffs/">Тарифы</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Решения
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Мебельным брендам</a></li>
                                <li>
                                    <hr class="dropdown-divider w-75 mx-auto">
                                </li>
                                <li><a class="dropdown-item" href="#">Дизайнерам интерьера</a></li>
                            </ul>
                        </li>
                        <li class="nav-item invisible-on-laptop">
                            <a class="nav-link" href="/tariffs/">Контакты</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Поддержка
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Частые вопросы</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <form class="nav me-5">
                    <li class="nav-item">
                        <a class="nav-link link-dark fw-light" href="#">Вход</a>
                    </li>
                    <button class="btn btn-primary px-4" type="button">Регистрация</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<section>
    {% block content %}{% endblock %}
</section>
<footer>
    <div class="container-xl">
        <div class="row mx-auto" style="padding: 140px 0;">
            <div class="col-lg-4 mx-0">
                <a href="#" class="logotype">
                    <img src="{% static '/img/AiHouse-dark.png' %}">
                </a>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 pl-1">
                        <dl>
                            <dd>Возможности</dd>
                            <dd>Дизайн и визуализация</dd>
                            <dd>Производство видеоматериалов</dd>
                            <dd>Галерея брендов</dd>
                        </dl>
                    </div>
                    <div class="col-sm-6 col-lg-4 pl-1">
                        <dl>
                            <dd>Компания</dd>
                            <dd>Контакты</dd>
                            <dd>Реквизиты</dd>
                            <dd>Публичная оферта</dd>
                        </dl>
                    </div>
                    <div class="col-sm-6 col-lg-4 pl-1">
                        <dl>
                            <dd>Контакты</dd>
                            <dd>ООО «АСАИ СОФТ»</dd>
                            <dd>
                                <a href="tel:+7 495 128-78-03">+7 495 128-78-03</a>
                            </dd>
                            <dd>
                                <a href="mailto:info@aihouserussia.ru">info@aihouserussia.ru</a>
                            </dd>
                            <dd style="font-size: 13px">105203, город Москва, 12-Я Парковая ул, д. 5, помещ. 17</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-4 my-2">
                <a href="">Публичная оферта</a>
            </div>
            <div class="col-md my-2" style="font-size: 13px;">
                <a href="">
                    <muted>© 2023 -</muted>
                    Сделано в Asai Soft
                    <muted>| Все права защищены</muted>
                </a>
            </div>
            <a href="#" class="to-top col-md-3 my-2 mx-3">
                <div class="fa-solid fa-arrow-up"></div>
            </a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="../static/js/index.js"></script>
<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://kit.fontawesome.com/d22fe735f3.js" crossorigin="anonymous"></script>
</body>
</html>