{% load wagtailimages_tags %}

<div class="carousel-item">
    <div class="slider-cards mx-auto card" style="">
        <div class="row g-0">
            <div class="col-md">
                {% image self.image max-450x350 class="w-100 h-100" %}
            </div>
            <div class="col-md d-flex align-items-center"">
                <a href="" class="text-decoration-none text-dark">
                    <div class="card-body mx-3" >
                        <p class="fs-3 card-title">
                            {{ self.title }}
                        </p>
                        <p class="card-text fs-5">
                            {{ self.description }}
                        </p>
                        <p class="bth-hint fs-5">
                            {{ self.hint }}
                            <i class="fa-solid fa-right-long"></i>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

