body {
    background-color: #333333;
    overflow: hidden;
}

[class^="container"]{
    padding: 10!important;
}

.bottom-center {
    position: absolute;
    font-size: 13px;
    bottom: 13px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.text-muted {
    color: rgba(255, 255, 255, .4)!important;
}


a {
    text-decoration: none;
    color: white;
}


input, button{
    background-color: #7a7a7a;
    border: rgba(255, 255, 255, 0.24) 1px solid;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    height: 38px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 30px;
}

input:focus{
    outline:none;
    border: 1px solid white;
    background-color: #333333;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-primary{
    background-color: #ffffff00;
    color: #ff9320;
    width: 100%;
}


.btn-primary:hover{
    background-color: #ff9320;
    color: #ffffff;
}

.bottom-buttons {
    font-size: 15px;
    margin-top: 40px;
    color: white!important;
}

.bottom-buttons > a{
    margin-left: 10px;
}


.bottom-buttons > a:nth-child(2){
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.logotype{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.show-in-laptop{
    display: block!important;
}

.fa-icon{
    width: 17px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    position: absolute;
    transform: translate(-200%, 100%);
    -webkit-transform: translate(-200%, 100%);
    -moz-transform: translate(-200%, 100%);
    -ms-transform: translate(-200%, 100%);
    -o-transform: translate(-200%, 100%);
}

a:hover{
    color: rgba(255, 255, 255, 0.7);;
}

.errors{
    background-color: white;
    color: red;
    text-align: center;
}
.errors > * {
    padding: 30px;
}

@media (max-width: 980px) {
    .show-in-laptop{
        display: none!important;
    }
}