body {
    font-family: Montserrat;
    margin: 20px;
    font-size: 15px;
}

body * {
    overflow: hidden;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown:hover {
    color: #ff9320;
}

.dropdown:active .dropdown-menu {
    display: none;
}

.btn-primary {
    border: 1px solid #ff9320;
    border-radius: 25px;
    background-color: #ff9320;
}

.btn-primary:hover {
    background-color: white;
    color: #ff9320;
    border: 1px solid #ff9320;
}

.btn-primary:active {
    background-color: #ffffff !important;
    border: 1px solid #ff9320 !important;
    color: #ff9320 !important;
}

.dropdown-menu {
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0;
    width: 190px;
    transition: all 0.5s ease-in-out;
}

.dropdown-item {
    text-wrap: wrap;
    padding: 13px 25px;
    margin: 5px 0;
    font-weight: 300;
    font-size: 15px;
}

.dropdown-item:hover {
    background-color: white;
    color: #ff9320;
}

form.nav {
    position: absolute;
    right: 0;
}

.nav-link {
    font-weight: 400;
}

.dropdown .dropdown-menu {
    display: block;
    opacity: 0;

    -moz-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.navbar {
    height: 100px;
    width: 100vw;
    transition: all 100ms ease-in-out;
}

.navbar-brand {
    margin-left: 40px;
}

.fa {
    transition-duration: 0.4s;
}

.fa-cont {
    width: 180px;
    color: rgba(255, 255, 255, 0.85);
}

.fa-cont:hover .fa {
    transform: translateY(-10px);
}

.card-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.card-text {
    font-size: 14px;
    color: #b7b7b7;
}

.card {
    border: none;
    transition: 0.2s;
    margin-bottom: 50px;
    width: auto;
}

.card-body {
    padding: 0 !important;
    height: auto;
    overflow-y: visible;
}

.card:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.card-content-wrapper {
    padding: 20px;
    width: 300px;
}

.card-line {
    margin-top: 50px;
    width: 70px;
    height: 2px;
    background-color: orange;
    transition: all 0.3s ease;
}

.card:hover .card-line {
    width: 100px;
}

.slider-cards {
    border-radius: 0;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.slider-cards > .row {
    width: auto;
}

.slider-cards * {
    border-radius: 0;
}

.carousel-indicators [data-bs-target] {
    position: relative;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 7px;
    background-color: #333333;
}

.carousel-indicators {
    margin: 0;
}

.carousel button {
    width: 45px;
    height: 35px;
    background-color: white;
    font-size: 22px;
    top: 50%;
}

.bth-hint {
    position: absolute;
    bottom: 0;
    visibility: hidden;
    color: rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
}

.card-body:hover .bth-hint {
    visibility: visible;
    transform: translateY(-20px);
    color: rgb(0, 0, 0);
}

#carouselGallery {
    margin-top: 250px;
    margin-bottom: 150px;
}

.gallery-carousel-inner .carousel-item.active,
.gallery-carousel-inner .carousel-item-next,
.gallery-carousel-inner .carousel-item-prev {
    display: flex;
}


@media (min-width: 768px) {
    .gallery-carousel-inner .carousel-item-end.active,
    .gallery-carousel-inner .carousel-item-next {
        transform: translateX(calc(100vw / 3));
    }

    .gallery-carousel-inner .carousel-item-start.active,
    .gallery-carousel-inner .carousel-item-prev {
        transform: translateX(calc(100vw / -3));
    }

    .gallery-carousel-inner .carousel-item-end,
    .gallery-carousel-inner .carousel-item-start {
        transform: translateX(0);
    }
}


#carouselGallery > button {
    height: 45px;
    width: 50px;
    color: rgba(0, 0, 0, 0.34);
    opacity: 100;
    display: none;
    transition: all 0.1s ease;
}

#carouselGallery > button:hover {
    color: #252525;
    background-color: #e5e5e5;
}

#carouselGallery:hover button {
    display: block;
}

footer .container-fluid {
    padding: 140px 0;
}

footer .container-fluid .row {
    margin: 0 40px
}

.info > .row {
    margin-bottom: 70px;

    > :first-child {
        padding-bottom: 30px;

        > a:before {
            position: relative;
            display: inline-block;
            height: 28px;
            width: 3px;
            top: -3px;
            margin-right: 18px;
            vertical-align: middle;
            background-color: #ff9320;
            content: "";
        }
    }
}

.vertical-line {
    padding-top: 15px;
    position: relative;
    padding-left: 40px;

    > dd:nth-child(odd) {
        margin-bottom: 20px;
    }

    > dd {
        margin-bottom: 10px;
    }

    > dd > a {
        text-decoration: none;
        color: #ff9320;
        transition: all 0.2s ease;
    }

    > dd > a:hover {
        color: initial;
    }
}

.vertical-line:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid #e5e5e7;
    left: 0;
}

.parallax {
    height: 550px;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 36px;
    color: white;
    align-items: center;
    position: relative;
}

.parallax > a,
.parallax > button {
    z-index: 3;
}

.parallax > .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    z-index: 2;
}

.callback {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ff9320;
    border-radius: 50px;
    height: 55px;
    width: 200px;
    color: white;
    transition: all 0.2s ease;
}

.callback:hover {
    background-color: #ff9320;
}

footer {
    background: #333333;
}

footer dl {
    > dd:nth-child(1) {
        color: #fff;
        padding-bottom: 20px;
    }

    > dd {
        color: #a3a4a8;
        font-weight: bold;

        > a {
            text-decoration: none;
            color: white;
        }

        > a:hover {
            color: gray;
        }
    }
}

.copyright {
    border-top: rgb(128, 128, 128) 1px solid;
    padding: 40px;
}

.copyright a {
    text-decoration: none;
    color: white;
}


.to-top {
    width: 40px;
    height: 40px;
    background-color: #ff9320;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    > div {
        color: white;
        text-decoration: none;
    }
}

muted {
    color: #a3a4a8;
}

.logotype {
    background-size: 150px;
    background-repeat: no-repeat;
    height: 100px;
    width: 150px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fs-1 {
    font-size: 65px !important;
    line-height: 1.1 !important;
}

.fs-2 {
    font-size: 45px !important;
}

.fs-3 {
    font-size: 25px !important;
}

.fs-4 {
    font-size: 20px !important;
}

.fs-5 {
    font-size: 14px !important;
}

.py-5 {
    padding: 140px 0 !important;
}

.w-70 {
    width: 70%;
}

.carousel * {
    transition-duration: 300ms;
}

.pl-1 {
    padding-left: 16px;
}


@media (min-width: 1200px) {
    footer .container-xl {
        width: 1080px;
    }
}

@media (max-width: 1440px) {
    .benefit-image img {
        height: auto;
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .benefit-image {
        order: -1;
        display: flex;
        justify-content: center;
        overflow-x: visible;
        flex: 0 0 auto;
    }

    .benefit-image img {
        max-width: 1350px;
        width: auto;
    }

    .fs-1 {
        font-size: 55px !important;
    }
}

@media (max-width: 768px) {
    .benefit-image img {
        max-width: 450px;
        width: auto;
    }

    body {
        margin: 0;
    }

    .carousel-control-prev,
    .carousel-control-next {
        visibility: hidden;
    }

    .navbar-brand {
        margin-left: 0;
    }

    .fs-1 {
        font-size: 46px !important;
    }

    .fs-2 {
        font-size: 36px !important;
    }

    .fs-4 {
        font-size: 20px !important;
    }

    .py-5 {
        padding: 70px 0 !important;
    }

    .vertical-line {
        padding-left: 0;
    }

    footer {
        overflow-x: clip;
    }

    .info .vertical-line:before {
        display: none;
    }
}

@media (max-width: 755px) {
    .bth-hint {
        visibility: visible;
        pos
    }

    #carousel .card-body {
        padding: 20px !important;
        margin: 0 !important;
        height: 170px;
    }

    .benefit-image img {
        max-width: 320px;
        width: auto;
    }

    .fs-2 {
        font-size: 36px !important;
    }

    .fs-3 {
        font-size: 20px !important;
    }

    .w-70 {
        width: 100%;
    }
}

@media (max-width: 456px) {
    .benefit-image img {
        max-width: 320px;
        width: auto;
    }

    .fs-2 {
        font-size: 36px !important;
    }

    .fs-3 {
        font-size: 20px !important;
    }

    .w-70 {
        width: 100%;
    }
}

@media (max-width: 320px) {
    #carousel .card-body {
        height: 200px;
    }
}