body {
    font-family: Montserrat;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown:hover {
    color: #ff9320;
}

.dropdown:active .dropdown-menu {
    display: none;
}

.btn-primary {
    border: 1px solid #ff9320;
    border-radius: 25px;
    background-color: #ff9320;
}

.btn-primary:hover {
    background-color: white;
    color: #ff9320;
    border: 1px solid #ff9320;
}

.dropdown-menu {
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0;
    width: 190px;
    transition: all 0.5s ease-in-out;
}

.dropdown-item {
    text-wrap: wrap;
    padding: 13px 25px;
    margin: 5px 0;
    font-weight: 300;
    font-size: 15px;
}

.dropdown-item:hover {
    background-color: white;
    color: #ff9320;
}

form.nav {
    position: absolute;
    right: 0;
}

.nav-link {
    font-weight: 400;
}

.dropdown .dropdown-menu {
    display: block;
    opacity: 0;

    -moz-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.navbar {
    transition: all 100ms ease-in-out;
}

.fa {
    transition-duration: 0.4s;
}

.fa-cont:hover .fa {
    transform: translateY(-10px);
}

.card-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.card-text {
    font-size: 14px;
    color: #b7b7b7;
}

.card {
    border: none;
    transition: 0.2s;
    margin-bottom: 50px;
    width: auto;
}

.card-body {
    padding: 0 !important;
}

.card:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.card-content-wrapper {
    padding: 20px;
    width: 300px;
}

.card-line {
    margin-top: 50px;
    width: 70px;
    height: 2px;
    background-color: orange;
    transition: all 0.3s ease;
}

.card:hover .card-line {
    width: 100px;
}

.slider-cards {
    border-radius: 0;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.slider-cards * {
    border-radius: 0;
}

.carousel-indicators {
    bottom: -50px
}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 7px;
    background-color: #333333;
}

.carousel button {
    width: 45px;
    height: 35px;
    background-color: white;
    font-size: 22px;
    top: 50%;
}

.get-more-button {
    position: relative;
    top: 50px;
    visibility: hidden;
    color: rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
}

.card-body:hover .get-more-button {
    visibility: visible;
    transform: translateY(-20px);
    color: rgb(0, 0, 0);
}

#carouselGallery {
    margin-top: 250px;
    margin-bottom: 150px;
}

.gallery-carousel-inner .carousel-item.active,
.gallery-carousel-inner .carousel-item-next,
.gallery-carousel-inner .carousel-item-prev {
    display: flex;
}


@media (min-width: 768px) {
    .gallery-carousel-inner .carousel-item-end.active,
    .gallery-carousel-inner .carousel-item-next {
        transform: translateX(calc(100vw / 3));
    }

    .gallery-carousel-inner .carousel-item-start.active,
    .gallery-carousel-inner .carousel-item-prev {
        transform: translateX(calc(100vw / -3));
    }

    .gallery-carousel-inner .carousel-item-end,
    .gallery-carousel-inner .carousel-item-start {
        transform: translateX(0);
    }
}


#carouselGallery > button {
    height: 45px;
    width: 50px;
    color: rgba(0, 0, 0, 0.34);
    opacity: 100;
    display: none;
    transition: all 0.1s ease;
}

#carouselGallery > button:hover {
    color: #252525;
    background-color: #e5e5e5;
}

#carouselGallery:hover button {
    display: block;
}

.info > .row {
    padding-bottom: 70px;

    > .col-sm:first-child > a:before {
        position: relative;
        display: inline-block;
        height: 28px;
        width: 3px;
        top: -3px;
        margin-right: 18px;
        vertical-align: middle;
        background-color: #ff9320;
        content: "";
    }

    > .col-sm-2 {
        padding-top: 20px;
        height: 100px;
        font-size: 22px
    }

    > dl {
        padding-top: 20px;
        padding-left: 80px;
        font-size: 16px;

        .vertical-line {
            padding-left: 80px;
            position: relative;

            > dd:nth-child(odd) {
                margin-bottom: 20px;
            }

            > dd {
                margin-bottom: 10px;
            }

            > dd > a {
                text-decoration: none;
                color: #ff9320;
                transition: all 0.2s ease;
            }

            > dd > a:hover {
                color: initial;
            }
        }

        .vertical-line:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            border-left: 1px solid #e5e5e7;
            left: 40px;
        }
    }
}

.parallax {
    height: 550px;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 36px;
    color: white;
    align-items: center;
    position: relative;
}

.parallax > a,
.parallax > button {
    z-index: 3;
}

.parallax > .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    z-index: 2;
}

.callback {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ff9320;
    border-radius: 50px;
    height: 55px;
    width: 200px;
    color: white;
    transition: all 0.2s ease;
}

.callback:hover {
    background-color: #ff9320;
}

footer {
    background: #333333;
    height: 630px;
    margin: 0 20px 20px 20px;
}

footer dl {
    > dd:nth-child(1) {
        color: #fff;
        padding-bottom: 20px;
    }

    > dd {
        color: #a3a4a8;

        > a {
            text-decoration: none;
            color: white;
        }

        > a:hover {
            color: gray;
        }
    }
}

.copyright > .row {
    border-top: 1px solid #646464;
}

.copyright > .row > * > a {
    text-decoration: none;
    color: white;
}


.to-top {
    width: 40px;
    height: 40px;
    background-color: #ff9320;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    > div {
        color: white;
        text-decoration: none;
    }
}

muted {
    color: #a3a4a8;
}

.logotype {
    background-size: 150px;
    background-repeat: no-repeat;
    height: 100px;
    width: 150px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1400px) {
    .benefit-image img {
        height: auto;
        max-width: 100%;
    }
}

@media (max-width: 900px) {
    .benefit-image {
        order: -1;
        display: flex;
        justify-content: center;
    }

    .benefit-image img {
        max-width: none;
        width: auto;
    }

}

@media (max-width: 720px) {
    .benefit-image img {
        max-width: 400px;
        width: auto;
    }
}