{% extends "authBase.html" %}
{% load wagtailroutablepage_tags %}

{% block forms %}
<label class="text-muted mx-auto" style="margin-bottom: 40px; margin-top: 20px; color: rgba(255, 255, 255, 0.7)!important;">
    Используйте email или телефон
</label>

<form method="POST">
    {% csrf_token %}
    <div class="login-field">
        {{ form.username }}
        <i class="fa-regular fa-user fa-icon"></i>
    </div>
    <div class="password-field">
        {{ form.password }}
        <i class="fa-solid fa-lock fa-icon"></i>
    </div>
    <button type="submit" class="btn btn-primary"/>Войти</button>
</form>
<div class="d-flex justify-content-center bottom-buttons">
    <a href=>Забыли пароль?</a>
    <a href="{% url 'users:registration' %}">Регистрация</a>
</div>
{% endblock %}