body {
    font-family: Montserrat;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown:hover {
    color: #ff9320;
}

.dropdown:active .dropdown-menu {
    display: none;
}

.btn-primary {
    border: 1px solid #ff9320;
    border-radius: 25px;
    background-color: #ff9320;
}

.btn-primary:hover {
    background-color: white;
    color: #ff9320;
    border: 1px solid #ff9320;
}

.dropdown-menu {
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0;
    width: 190px;
    transition: all 0.5s ease-in-out;
}

.dropdown-item {
    text-wrap: wrap;
    padding: 13px 25px;
    margin: 5px 0;
    font-weight: 300;
    font-size: 15px;
}

.dropdown-item:hover {
    background-color: white;
    color: #ff9320;
}

form.nav {
    position: absolute;
    right: 0;
}

.nav-link {
    font-weight: 400;
}

.dropdown .dropdown-menu {
    display: block;
    opacity: 0;

    -moz-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.navbar {
    transition: all 100ms ease-in-out;
}

.fa {
    transition-duration: 0.4s;
}

.fa-cont:hover .fa {
    transform: translateY(-10px);
}

.card-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.card-text {
    font-size: 14px;
    color: #b7b7b7;
}

.card {
    border: none;
    transition: 0.2s;
    margin-bottom: 50px;
}

.card:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.card-line {
    margin-top: 50px;
    width: 70px;
    height: 2px;
    background-color: orange;
    transition: all 0.3s ease;
}

.card:hover .card-line {
    width: 100px;
}

.slider-cards {
    border-radius: 0;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.slider-cards *{
    border-radius: 0;
}
